*~
*.pyc
.ropeproject

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
